* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	background-color: orange;
}

header div.logo-container h1 {
	text-align: center;
	color: rgb(53, 53, 224);
	user-select: none;
}

main div.manga-container {
	width: 600px;
	margin: auto;
	background-color: rgb(53, 53, 224);
	height: calc(100vh - 48px);
}

main div p.manga-title {
	text-align: center;
	padding: 10px 0;
	font-size: 24px;
	line-height: 2rem;
	color: orange;
}

main div div.manga-picture-container {
	height: calc(100% - 52px);
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;
}
